<h1 class="sign-in">Sign up for Courselect</h1>
<% if @user.errors.any? %>
  <div>
    <h2>Something went wrong! Please try again.</h2>
    <ul>
      <% @user.errors.each do |attribute, message| %>
        <li><strong><%= attribute %></strong>: <%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
​
<%= form_for @user, :html => { :class => "form-horizontal center" } do |f| %>
  <div class="form-group">
  <%= f.label :username, class: "col-xs-4 control-label required" %>
  <div class="col-xs-4">
  <%= f.text_field :username, class: "form-control" %>
  </div>
​  </div>
  <div class="form-group">
  <%= f.label :email, class: "col-xs-4 control-label required" %>
  <div class="col-xs-4">
  <%= f.email_field :email, class: "form-control" %>
​  </div>
​  </div>
  <div class="form-group">
  <%= f.label :password, class: "col-xs-4 control-label required" %>
  <div class="col-xs-4">
  <%= f.password_field :password, class: "form-control" %>
​  </div>
  </div>
  <div class="form-group">
  <%= f.label :password_confirmation, class: "col-xs-4 control-label required" %>
  <div class="col-xs-4">
  <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  </div>
  <div class="text-center">
    <%= f.submit "Create Account", class: "btn btn-primary" %>
  </div>
<% end %>
