<!DOCTYPE html>
<html>
<head>
  <title>Courselect</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href= "/" class="navbar-brand">Courselect</a>
          <p><em>Online Courses. One Search.</em></p>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        <% if current_user %>
          <ul class="nav navbar-nav">
          </ul>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
           <% if current_user %><br>
             <li class="logged-in"><%= "Hi, #{current_user.username}!" %></li>
            <li><%= link_to "Courses to Take", take_path %></li>
            <li><%= link_to "Taken Courses", taken_path %></li>
             <li><%= link_to "Log out", logout_path %></li>
           <% else %>
             <li><%= link_to "Sign-up", new_user_path %></li>
             <li><%= link_to "Log in", new_session_path %></li>
           <% end %>
         </ul>
       </div>
     </div>
   </nav>
 </header>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
